[tokens]
TELEGRAM_TOKEN = your telegram token
OPENAI_API_KEY = your open ai key
TAVILY_API_KEY = you tavily key

[settings]
RANDOM_RESPONSE_PROBABILITY = 0.00
LLM_DECISSION_TO_RESPOND_THRESHOLD = 0.7
MESSAGE_HISTORY_LIMIT = 15

[models]
MAIN_WORKFLOW_MODEL = gpt-4o
SHOULD_RESPOND_MODEL = gpt-4o-mini